button, div, form, input {
    margin: 10px;

}

img {
    max-width: 200px;
    max-height: 200px;
}

label {
    text-align: center;
    color: black;
    font-size: large;
}

.btn-success {
    color: blueviolet;
    font-size: large;
    
}

body {
    background: black;
    font-family: 'IBM Plex Serif', serif;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: black;
    font-size: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
  
.form-control {
    width: 30%;
}